<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Igor Brovchenko Lab1 Login</title>
  <!-- CSS Section -->
    <link rel='stylesheet' href='./Content/app.css' />
    <link rel='stylesheet' href='./bootstrap/dist/css/bootstrap.min.css'/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>
    <!-- Form -->
    <div class="text-center" style="padding:50px 0">
            <div class="logo">Feedback</div>
            <!-- Main Form -->
            <div class="login-form-1">
                <form id="feedback-form" class="text-left" action="/thankyou" method="post">
                    <div class="login-form-main-message"></div>
                    <div class="main-login-form">
                        <div class="login-group">
                            <div class="form-group">
                                <label for="username" class="sr-only">Username</label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="username" value="<%= customer.username %>">
                            </div>
                            <div class="form-group">
                                    <label for="date" class="sr-only">Date</label>
                                    <input type="text" class="form-control" id="date" name="date" placeholder="date" value="<%= date %>">
                            </div>
                            <div class="form-group">
                                <label for="firstname" class="sr-only">First name</label>
                                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First name" value="<%= customer.firstname %>">
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="sr-only">Last name</label>
                                <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last name" value="<%= customer.lastname %>">
                            </div>
                            
                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <input type="text" class="form-control" id="email" name="email" placeholder="email" value="<%= customer.email %>">
                            </div>
                            <div class="form-group">
                                <label for="subject" class="sr-only">Subject</label>
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" value="<%= customer.subject %>">
                            </div>
                            <div class="form-group">
                                    <label for="feedback" class="sr-only">Feedback</label>
                                    <textarea rows="4" type="text" class="form-control" id="feedback" name="feedback" placeholder="Feedback"><%= "" + customer.feedback %></textarea>
                                </div>
                            
                        </div>
                        <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
                    </div>
                </form>
            </div>

 <!-- JavaScript Section -->
 <script src="./jquery/dist/jquery.min.js"></script>
 <script src="./bootstrap/dist/js/bootstrap.min.js"></script>

 <script src="./Scripts/core/app.js"></script>

</body>
</html>
